<div id="article">
    <div id="nav">
        <a href="#type1" class="catlog">Science Fiction</a><br>
        <a href="#type2" class="catlog">Humanity</a><br>
        <a href="#type3" class="catlog">Technology</a><br>
    </div>
    <div id="main">
        <div class="books">
            <h2><a name="type1">Science Fiction</a></h2>
            <a href="https://en.wikipedia.org/wiki/Dune_(novel)" class="title">"Dune (Novel)"</a>
            <p class="info">Dune is a 1965 science fiction novel by American author Frank Herbert, originally published as two separate serials in Analog magazine. It tied with Roger Zelazny's This Immortal for the Hugo Award in 1966, and it won the inaugural Nebula Award for Best Novel. It is the first installment of the Dune saga, and in 2003 was cited as the world's best-selling science fiction novel.</p> 
            <img class="img" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/de/Dune-Frank_Herbert_%281965%29_First_edition.jpg/220px-Dune-Frank_Herbert_%281965%29_First_edition.jpg">
            <br/>
            <br/>
            <hr size="1">
        </div>
        
        <div class="books">
            <h2><a name="type2">Humanity</a></h2>
            <a href="https://en.wikipedia.org/wiki/A_Man_Called_Ove_(novel)" class="title">"A Man Called Ove (novel)"</a>
            <p class="info">A Man Called Ove (original title in Swedish: En man som heter Ove) is a 2012 novel by Fredrik Backman, a Swedish columnist, blogger and writer. It was published in English in 2013. The English version reached the New York Times Best Seller list 18 months after it was published and stayed on the list for 42 weeks.</p> 
            <img class="img" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3d/A_Man_Called_Ove_%28novel%29.jpg/220px-A_Man_Called_Ove_%28novel%29.jpg">
            <br/>
            <br/>
            <hr size="1">
        </div>
        
        <div class="books">
            <h2><a name="type3">Technology</a></h2>
            <a href="https://en.wikipedia.org/wiki/The_Innovators_(book)" class="title">"The Innovators"</a>
            <p class="info">The book summarizes the contributions of several innovators who have made pivotal breakthroughs in computer technology and its applications—from the world's first computer programmer, Ada Lovelace, and Alan Turing's work in artificial intelligence, through the Information Age of the present. Although his book's focus is on individuals, Isaacson reminds readers that innovations are often the product of group collaboration.</p> 
            <img class="img" src="https://books.google.com.sg/books/content?id=trxEAwAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&imgtk=AFLRE72YJn3i1XC_K-7On1xF-rdeZFCzHcN2YP_stmB51X2DTwcqvMDMY2p1FaiRTAwp4fdVoAd5oUn6inbL56IJ61poOHUSmx7phVzwu-SgsRvt76cia64ISpOAMMUUwW4j0PVVWGNB">
            <br/>
            <br/>
            <hr size="1">
        </div>
    </div>
</div>
